@font-face {
    font-family: fire;
    src: url("../font/FIRESTARTER.TTF");
}

body {
    margin: 0;
}

#calc{
    background: url(../images/ss.jpg);
    background-size: 100% 100%;
    height: 776px;

    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: fire;
    font-size: 30px;
    word-spacing: 35px;
    color: orange;
}

span {
    font-family: 'Times New Roman';
    font-size: 30px;
    word-spacing: 35px;
}

#calc > div {
    margin-left: 50px;
}

#buttons {
    background-color: firebrick;
    border-radius: 20%;
    display: grid;
}

.buttons button {
    margin: 25px;
    background-color: aqua;
    border: none;
    border-radius: 20%;
    width: 50px;
    height: 40px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 25px;
}

.buttons {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover {
    background-color: blue;
}

.buttons button:active {
    background-color: mediumspringgreen;
}

.alignCenter {
    justify-self: center;
    align-self: center;
}